body,html {
    margin: 0;
    height: 100%;
}

.bg-main {
    background-image: url("about_us_3.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 

.master-main-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: rgba(255, 255, 255, 0.3);
    padding: 20px 10px;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
}


.nav-item {
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.nav-item a {
    color: white; 
    text-decoration: none;
  }

.nav-item a:hover {
    text-decoration: underline;
  }

.nav-left {
    padding-right: 30px;
}

.nav-right {
    padding-left: 30px;
}


.nav-size {
    font-size: 16px;
    color: antiquewhite;
}

.font {
    font-family: 'work sans',Helvetica,Arial,sans-serif;
}

h3 {
    font-size: 20px;
}


.footer-main {
    background-color: #333; 
    color: white; 
    padding: 20px 0; 
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap; 
  }
  
  .footer-item {
    max-width: 300px; 
    text-align: left; 
  }
  
  .footer-item h4 {
    font-size: 18px; 
    margin-bottom: 10px; 
  }
  
  .footer-item p {
    margin-bottom: 8px; 
  }
  
  .footer-item a {
    color: white; 
    text-decoration: none; 
  }
  
  .footer-item a:hover {
    text-decoration: underline; 
}

.text-align-center {
    text-align:justify;
}

* {
    box-sizing: border-box;
  }

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #185689;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #003554;
  }
  .main-container-contact-us {
    padding-top: 160px;
    padding-bottom: 50px;
    padding-left: 80px;
    padding-right: 80px;
  }
  
  .container-contact-us {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding-top: 30px;
    padding-bottom: 60px;
  }
  
  .column-contact-us {
    float: left;
    width: 50%;
    margin-top: 26px;
    padding-left: 70px;
  }

  .column-contact-us-2 {
    float: left;
    width: 40%;
    margin-top: 26px;
    padding-left: 0px;
  }
  
  .row-contact-us:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 768px) {
    .container {
      width: 90%;
    }

    .main-nav-bar {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: white;
      background: rgba(255, 255, 255, 0.3);
      padding: 20px 10px;
      width: 100%;
      top: 0;
  }
  
    .nav-item {
      margin-right: 10px;
    }
  
    .logo {
      margin-right: auto;
    }
  
    p {
      font-size: 12px;
    }

    h3 {
      font-size: 13px;
      text-align: center;
    }


.column-contact-us {
  display: none;
}

.row-contact-us {
  display: flex;
  align-items: center;
  justify-content:flex-start;
  padding-left: 40px;
  width: 670px;
  
}

.main-container-contact-us {
  padding-top: 160px;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
}

  }