body,html {
    margin: 0;
    height: 100%;
}

.master-main-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: rgba(255, 255, 255, 0.3);
    padding: 20px 10px;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
}


.nav-item {
    color: black;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.nav-item a {
    color: black; 
    text-decoration: none; 
}

.nav-item a:hover {
    text-decoration: underline; 
  }

.nav-left {
    padding-right: 30px;
}

.nav-right {
    padding-left: 30px;
}


.nav-size {
    font-size: 16px;
    color: antiquewhite;
}

.font {
    font-family: 'work sans',Helvetica,Arial,sans-serif;
}

h3 {
    font-size: 20px;
}

.footer-main {
    background-color: #333; 
    color: white; 
    padding: 20px 0; 
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap; 
  }
  
  .footer-item {
    max-width: 300px; 
    text-align: left; 
  }
  
  .footer-item h4 {
    font-size: 18px; 
    margin-bottom: 10px; 
  }
  
  .footer-item p {
    margin-bottom: 8px; 
  }
  
  .footer-item a {
    color: white; 
    text-decoration: none; 
  }
  
  .footer-item a:hover {
    text-decoration: underline; 
}

.text-align-center {
    text-align:justify;
}

.patioCalculator-header {
    padding-top: 120px;
    text-align: center;
}

.shape-chooser {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.shape-option {
    padding: 10px;
}

.material-images {
    display: flex;
    align-items: center;
    justify-content: center;
}


.img-material-option {
    height: 150px;
    width: 150px;
    padding: 10px;
}

.material-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input-main, .input-L {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}


.input-rekt {
    display: flex;
    align-items: center;
    justify-content: center;
}

.calc-result {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
}



.underline-div {
    position: relative;
    height: 20px; 
    background-color: #ffffff; 
  
   
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%; 
      transform: translateX(-50%); 
      width: 50%; 
      height: 1px; 
      background-color: black; 
    }
  }


  @media screen and (max-width: 768px) {
    .container {
      width: 90%;
    }

    .main-nav-bar {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: white;
      background: rgba(255, 255, 255, 0.3);
      padding: 20px 10px;
      width: 100%;
      top: 0;
  }
  
    .nav-item {
      margin-right: 10px;
    }
  
    .logo {
      margin-right: auto;
    }
  

    p {
      font-size: 12px;
    }

    h3 {
      font-size: 13px;
      text-align: center;
    }

.img-shape-option {
    height: 150px;
    width: 150px;
    padding: 10px;
}

.material-images {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 10px; 
    justify-content: center;
}

.img-material-option {
    max-width: 100%;
    height: auto;
    padding: 10px;
}

.input-rekt,
.input-L {
    display: flex;
    flex-direction: column;
}

.input-row {
    display: flex;
    margin-bottom: 10px;
}

label {
    margin-right: 5px;
}

  }