body,html {
    margin: 0;
    height: 100%;
}

.bg-main {
    background-image: url("about_us_3.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 

.master-main-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: rgba(255, 255, 255, 0.3);
    padding: 20px 10px;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
}

.nav-item {
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.nav-item a {
    color: white;
    text-decoration: none; 
  }

.nav-item a:hover {
    text-decoration: underline;
  }

.nav-left {
    padding-right: 30px;
}

.nav-right {
    padding-left: 30px;
}

.nav-size {
    font-size: 16px;
    color: antiquewhite;
}

.font {
    font-family: 'work sans',Helvetica,Arial,sans-serif;
}

h3 {
    font-size: 20px;
}

.footer-main {
    background-color: #333; 
    color: white; 
    padding: 20px 0; 
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap; 
  }
  
  .footer-item {
    max-width: 300px; 
    text-align: left; 
  }
  
  .footer-item h4 {
    font-size: 18px; 
    margin-bottom: 10px; 
  }
  
  .footer-item p {
    margin-bottom: 8px; 
  }
  
  .footer-item a {
    color: white; 
    text-decoration: none; 
  }
  
  .footer-item a:hover {
    text-decoration: underline; 
}

.text-align-center {
    text-align:justify;
}

.header-main {
    font-size: 45px;
    display: flex;
    justify-content: center;

}

.header-top {
    display: flex;
    justify-content: center;
}

.header-bottom {
    display: flex;
    justify-content: center;
    text-align: center;
}

.header-p {
    font-size: 18px;
}

.master-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding-top: 157px;
    padding-bottom: 50px;
  }


  .bottom-column {
    flex: 1;
    max-width: 70%;
    margin: 10px;
    padding: 15px;
    box-sizing: border-box;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
  }

  .top-column {
    flex: 1;
    max-width: 70%;
    margin: 10px;
    padding: 15px;
    box-sizing: border-box;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
  }


  .top-column,
  .bottom-column {
    max-height: 25%;
  }

  .middle-columns {
    display: flex;
    flex: 1;
    width: 81%;
    justify-content: space-evenly;
    align-items: center;
    height: 50%;
  }

  .middle-column {
    flex: 1;
    max-width: 400px;
    height: 80%;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
  }

  @media screen and (max-width: 768px) {
    .container {
      width: 90%;
    }

    .main-nav-bar {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: white;
      background: rgba(255, 255, 255, 0.3);
      padding: 20px 10px;
      width: 100%;
      top: 0;
  }
  
    .nav-item {
      margin-right: 10px;
    }
  
    .logo {
      margin-right: auto;
    }
  

    .header-main {
        font-size: 15px;
        display: flex;
        justify-content: center;
    
    }



    p {
      font-size: 11px;
    }

    h3 {
        font-size: 10px;
    }

.master-container {
    padding: 90px 0px 20px;
}



}