body,html {
    margin: 0;
    height: 100%;
}

.bg-main {
    background-image: url("about_us_3.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 

.master-main-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: rgba(255, 255, 255, 0.3);
    padding: 20px 10px;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
}


.nav-item {
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.nav-item a {
    color: white; 
    text-decoration: none; 
  }

.nav-item a:hover {
    text-decoration: underline; 
  }

.nav-left {
    padding-right: 30px;
}

.nav-right {
    padding-left: 30px;
}


.nav-size {
    font-size: 16px;
    color: antiquewhite;
}

.body-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 300px;
}


.body-middle-container {
    width: 100%;
    max-width: 800px;
    margin: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.middle-container-index {
    display: flex;
    justify-content: center;
    align-items: center;
}


.lm-flex-color-light {
    background-color: #185689;
    color: white;
}

.lm-flex-color-dark {
    background-color: #003554;
    color: white;
}

.font {
    font-family: 'work sans',Helvetica,Arial,sans-serif;
}

h3 {
    font-size: 20px;
}


.footer-main {
    background-color: #333; 
    color: white; 
    padding: 20px 0; 
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap;
  }
  
  .footer-item {
    max-width: 300px; 
    text-align: left; 
  }
  
  .footer-item h4 {
    font-size: 18px; 
    margin-bottom: 10px; 
  }
  
  .footer-item p {
    margin-bottom: 8px; 
  }
  
  .footer-item a {
    color: white; 
    text-decoration: none; 
  }
  
  .footer-item a:hover {
    text-decoration: underline; 
  }


.text-align-center {
    text-align:justify;
}

.btn-flex-main-a {
    border: none;
    color: white;
    padding: 14px 28px;
    cursor: pointer; 
    border-radius: 20px;
    background-color: #00a3c3;
}

.btn-flex-main-b {
    border: none;
    color: white;
    padding: 14px 28px;
    cursor: pointer; 
    border-radius: 20px;
    background-color: #003554;
    
}



.special-middle-p {
padding-top: 50px;
}

.special-p-middle {
    font-size: 30px;
}

.special-p-1-middle {
    font-size: 14px;
    margin: 40px;
    padding-left: 300px;
    padding-right: 300px;
}

.header-main {
    font-size: 45px;

}

.header-p {
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.link-main {
    padding-bottom: 40px;
}

.middle-inner {
    width: 50px;
    border-color: black;
    text-align: center;
}

.middle-inner-border {
    border-top-width: 2px;
}

.middle-inner-style {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.main-master-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
  }

  .master-container {
    width: 100%;
    max-width: 1200px;
    margin: 20px;
  }

  .top-column {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
  }

  .middle-columns {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 40px;
    padding-top: 30px;
  }

  .middle-column {
    flex: 1;
    max-width: calc(25% - 20px);
    height: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
  }

  .bottom-columns {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }

  .bottom-column {
    flex: 1;
    max-width: calc(25% - 20px);
    height: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
  }

  .mi-flex-h3,
  .mi-flex-p,
  .mi-flex-btn {
    margin-top: 30px;
  }

  .mi-flex-btn button {
    cursor: pointer;
  }

  .mi-flex-btn button.mi-flex-main-flex {
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    color: black;
  }

  .underline {
    display: inline-block;
    position: relative;
    font-size: 24px;
  }

  .underline::after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .underline-white {
    display: inline-block;
    position: relative;
    font-size: 24px;
  }

  .underline-white::after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
  }


  @media screen and (max-width: 768px) {
    .container {
      width: 90%;
    }

    .main-nav-bar {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: white;
      background: rgba(255, 255, 255, 0.3);
      padding: 20px 10px;
      width: 100%;
      top: 0;
  }
  
    .nav-item {
      margin-right: 10px;
    }
  
    .logo {
      margin-right: auto;
    }
  
    .btn-flex-main-a,
    .btn-flex-main-b {
      width: 100%;
      margin-bottom: 10px;
    }
  
    .service-section {
      flex-direction: column;
    }

    .service-column {
      width: 100%;
      margin-bottom: 20px;
    }
  
    .middle-columns, .bottom-columns {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-bottom: 20px;
      margin: 0px;
      
    }

    .middle-column, .bottom-column {
      flex: 1 1 calc(50% - 10px);
    }

    p {
      font-size: 12px;
    }

    h3 {
      font-size: 13px;
      text-align: center;
    }

    .special-p-1-middle {
      font-size: 14px;
      margin: 10px;
      padding-left: 30px;
      padding-right: 30px;
  }

  .body-middle-container {
    width: 100%;
    max-width: 350px;
    margin: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.header-main {
  font-size: 25px;
}

  }